header {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 10px;
  width: 100%;
  z-index: 100;
}

.header_container {
  padding: 15px 8px;
  max-width: 1200px;
  width: 100%;
  border-radius: 91px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 14px 0 rgba(0, 0, 0, 0.25);

  .header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .header_nav_logo {
    margin-left: 15px;
  }

  .header_nav_list {
    display: flex;
    gap: 20px;
  }
}

.header_nav_list {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 22.5px;
  .header_nav_list {
    color: rgba(189, 189, 189, 1);
  }
  .header_nav_link {
    color: #373737;
  }
}

.header_nav_btn, .pills_btn, .loyalty-program_column__btn {
  background: linear-gradient(
    356deg,
    #9c9d9d -145.77%,
    #414141 -15.42%,
    #b1b2b3 43.71%,
    #878786 90.07%,
    #878786 90.07%
  );
  padding: 11.5px 42.5px;
  color: rgba(255, 255, 255, 1);
  border-radius: 55px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-weight: 700;
  font-size: 16px;
  line-height: 16.32px;
  &:hover {
    background: rgba(55, 55, 55, 1);
    
  }
}
