@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap');
// :root {
// 	--font-main: 'Montserrat', sans-serif;

// 	--page-bg: #FFFFFF;
// 	--text-color: #373737;

// }

.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;

}